@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Cette application n'a pas encore de réel système de vérification, voir <a href="https://aka.ms/aspaccountconf">cette documentation</a> pour voir comment le mettre en place.
    Normalement cela devrait être envoyer: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique ici pour confirmer ton mail.</a>
</p>
    }
    else
    {
<p>
        Vérifie tes mails pour voir la confirmation.
</p>
    }
}

