a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.Header_HomePage {
  background-image: url(/img/HomePage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(95%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-position: 100px;
}

#leftNavbar {
  position: absolute;
  top: 60%;
  padding: 1%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  border-radius: 10px;
}

.fa-solid {
  font-size: 5vh;
}

.fa-brands {
  font-size: 5vh;
}

.Header_HomePage .nav-link {
  color: white !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#RightNavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.HomePage_Presentation {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  height: 75%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HomePage_Presentation p {
  font-size: 3vh;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.logo_header {
  font-weight: 30vw;
}

.logo {
  width: 20vw;
}

.navbarre2 {
  background-color: rgba(0, 0, 0, 0.11);
  opacity: 0.8;
  position: sticky;
}
.log2 {
  width: 10vw;
}

.resa {
  color: #fff;
  border: #ffffff 2px solid;
}

.resa:hover {
  color: #ffffff;
  border-color: #b63f36;
}

@media (max-width: 575.98px) {
  .logo {
    width: 35vw;
  }

  .fa-solid {
    font-size: 4vh;
  }
  
  .fa-brands {
    font-size: 4vh;
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}
