.carousel-item img {
    transition: filter 0.5s ease; /* Ajout de la transition pour le filtre de luminosité */
  } 
  
  .carousel-item:hover img {
    filter: brightness(50%);
  }

  .carousel-inner h2 p {
    display: flex;
    text-align: right;
  }

  .carousel-16-9 {
    width:100%;
    padding-top:46.25%;
    position:relative;
  }

  .carousel-item {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
  }

  .carousel-item img {
    background-position: cover;
    width: 100%;
  }