html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #cecece;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin:0px;
}

h3, h2, h1{
  font-family: 'Rye', serif;
  color: white;
}

p{
  font-family: 'Bevan', serif;

}


#Info_contact{
  color: white;
  text-shadow: 3px 3px 0px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#Info_contact div{
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.navbar-nav .nav-link {
  color: white !important;
}

.btn-outline-primary {
  border-color: #631e19;
  color: #631e19;
}

.btn-outline-primary:hover, .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  background-color: #631e19;
  border-color: #631e19;
}

.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: none;

}


main #main {
  margin: 0 !important;
}