html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  /* Styles à appliquer lorsque la largeur de l'écran est inférieure à 991 pixels */
  .columnAll {
    display: flex;
    flex-direction: column;
    width:100%;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #cecece;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  margin:0px;
  background-color: rgb(247, 247, 247);
   /* background-image: url(/img/desert.jpg);
    background-position: 0 -150px; */
  
  
}

.logo {
  width: 20vw;
}

h3, h2, h1{
  font-family: 'Rye', serif;
  color: white;
}

p{
  font-family: 'Bevan', serif;

}

.navbar-nav .nav-link {
  color: white !important;
}

.btn-outline-primary {
  border-color: #631e19;
  color: #631e19;
}

.btn-outline-primary:hover, .btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
  background-color: #631e19;
  border-color: #631e19;
}

.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: none;

}


main #main {
  margin: 0 !important;
  background-color : rgb(107, 68, 5);
}

#login-submit {
  background-color: rgb(107, 68, 5);
  border: 1px solid white;}

#save_btn {
  background-color: rgb(107, 68, 5);
  border: 1px solid white;
}

.login_link {
  color: rgb(107, 68, 5);
}

.gestion {
  padding-left: 1%;
}

.link {
  color: rgb(107, 68, 5);
}

#login {
  background-color: rgb(0,0,0,0.25);
  border-radius: 10px;
  padding: 2%;
  margin: 1%;
}

#login section {
  padding-top: 5%;
}

#form_edition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.25);
  border-radius: 10px;
  margin: 1%;
  padding: 1%;
  margin-left: 20vw;
  margin-right: 20vw;
}

#form_edition div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1%;
  width: 50vw;
}
.video{
  display: flex;
  justify-content: center;
  
}
.borderVideo{
  border: 10px solid #ccc;
  background-image: url(/img/assiette2.png);
  border-image: url(/img/BorderWood-min.png)120;
  min-width: 480px;
}