@{
    ViewData["Title"] = "Carte";
}


<style>
    .menu-section {
        display: none;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
    .menu-container {
        display: flex;
        flex-wrap: wrap;
        
        border-image: url(/img/border.png)30;
    }

    .menu-item {
        border: 10px solid #ccc;
        padding: 10px; /* Ajoutez un padding si nécessaire */
        padding-bottom: 300px;
        margin: 10px; /* Ajoutez une marge si nécessaire */
        width: 200px; /* Définissez la largeur fixe */
        min-height: 100px; /* Hauteur minimale */
        max-height: 200px; /* Hauteur maximale */
        overflow: hidden; /* Masque tout contenu dépassant la hauteur maximale */
        border-image: url(/img/border.png)60;
        
    }
    @* .borderCustom{
        border: 10px solid #ccc;
        border-image: url(/img/border.png)50;
    } *@
</style>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <!-- Section de présentation texte -->
            <h3 class="mt-5 mb-5 display-5">La carte</h3>
            <p class="fs-3">Le meilleur endroit pour savourer des plats délicieux et une ambiance chaleureuse.</p>
        </div>
    </div>

    <!-- Menu du jour -->
    <div class="row mt-4">
        <div class="col-md-12">
            <ul class="list-group">
                <!-- Entrée -->
                @model IEnumerable<LaBonneAuberge.Models.Category>
                @foreach (var category in Model)
                {
                    <li class="list-group-item borderCustom">
                        <div class="row">
                            <div class="col-md-8 mb-4">
                                <h3 class="mb-4 mt-4">@category.Nom</h3>
                                <div class="menu-container">
                                    @foreach (var menu in category.Menus)
                                    {
                                        <div class="menu-item">
                                            <h5 class="mt-3 mb-4">@menu.Name (@menu.Price €)</h5>
                                            @menu.Description
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>