
@{
    Layout = "~/Views/Shared/_Layout_Menu.cshtml";
}

@{
    ViewData["Title"] = "Carte";
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="container mt-5 pt-5 mb-5">
    <!-- Section de présentation texte -->
    
    <h3 class="mt-5 mb-5 display-5 background borderCustom2 ">La carte</h3>
    <p class="fs-3 background borderCustom2 ">Le meilleur endroit pour savourer des plats délicieux et une ambiance
        chaleureuse.</p>
</div>
<main role="main" id="main">
<!-- Menu du jour -->
<div class="row mt-4">
    <div class="col-md-12">
        <ul class="list-group backdesert">
            <!-- Entrée -->
            @model IEnumerable<LaBonneAuberge.Models.Category>
            @foreach (var category in Model)
            {
                <li class="list-group-item borderCustom2 background  " onclick="ajouterImage(event)">
                    <div class="col-md-12 mb-4">
                        <h3 class="mb-4 mt-4">@category.Nom</h3>
                        <div class="menu-container ">
                            @foreach (var menu in category.Menus)
                            {
                                <div class="menu-item  ">
                                    <h5 class="mt-3 mb-4 menu-name">@menu.Name (@menu.Price €)</h5>
                                    <img src="/img/ModalsMenu/@menu.Img" class="menu-img" alt="...">
                                    <div class="menu-description">@menu.Description</div>
                                </div>
                            }
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
</div>
<img id="custom-cursor" src="/img/test.png" alt="Custom Cursor">
</main>

<script>
    var audioElements = [
        new Audio("/Sound/fire.mp3"),
        new Audio("/Sound/fire2.wav"),
        new Audio("/Sound/fire3.wav")
        
    ];

    audioElements.forEach(function(audioElement) {
        audioElement.volume = 0.2;
    });

    $(document).ready(function () {
        $('.menu-item').click(function () {
            var menuName = $(this).find('.menu-name').text();
            var menuPrice = $(this).find('.menu-price').text();
            var menuDescription = $(this).find('.menu-description').html();
            var menuImgSrc = $(this).find('.menu-img').attr('src');
            var modal = $('<div class="modal fade modalEffect2" tabindex="-1" role="dialog">' +
                '<div class="modal-dialog border" role="document">' +
                '<div class="modal-content">' +
                '<div class="modal-body modalEffect">' +
                '<img src="' + menuImgSrc + '" alt="Image de la modal" class="modal-image">' +
                '<h5 class="mt-3 mb-4">' + menuName + ' </h5>' +
                '<div class="menu-description">' + menuDescription + '</div>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>');

            $('body').append(modal);

            modal.modal('show');

            modal.find('.modal-image').show();

            modal.on('hidden.bs.modal', function () {
                modal.find('.modal-image').hide();
                modal.remove();
            });

            // Jouez aléatoirement l'un des trois sons
            var randomIndex = Math.floor(Math.random() * audioElements.length);
            audioElements[randomIndex].currentTime = 0;
            audioElements[randomIndex].play();
        });
    });

    function ajouterImage(event) {
        var img = document.createElement('img');
        img.src = '/img/balle.png';
        img.alt = 'Image ajoutée au clic';
        img.className = 'clickedImage';
        var largeurImage = 100;
        var hauteurImage = 100;
        img.style.width = largeurImage + 'px';
        img.style.height = hauteurImage + 'px';
        img.style.left = (event.pageX - (largeurImage / 2)) + 'px';
        img.style.top = (event.pageY - (hauteurImage / 2)) + 'px';
        document.body.appendChild(img);
        
        audioElements.forEach(function(audioElement) {
            audioElement.currentTime = 0;
        });

        setTimeout(function () {
            img.style.opacity = 0;
            setTimeout(function () {
                var randomIndex = Math.floor(Math.random() * audioElements.length);
                audioElements[randomIndex].play();
            }, 10);
        }, 10);

        setTimeout(function () {
            document.body.removeChild(img);
        }, 2010);
    }

    document.addEventListener('DOMContentLoaded', function () {
        var menuItems = document.querySelectorAll('.menu-item');
        menuItems.forEach(function (menuItem) {
            menuItem.addEventListener('click', function () {
                this.classList.remove('clicked');
                setTimeout(() => {
                    this.classList.add('clicked');
                }, 10);
            });
        });
    });

    var customCursor = document.getElementById('custom-cursor');

    document.addEventListener('mousemove', function(e) {
        customCursor.style.left = (e.pageX - customCursor.width / 2) + 'px';
        customCursor.style.top = (e.pageY - customCursor.height / 2) + 'px';
    });

    document.addEventListener('scroll', function() {
        customCursor.style.left = (event.pageX - customCursor.width / 2) + 'px';
        customCursor.style.top = (event.pageY - customCursor.height / 2) + 'px';
    });
    
</script>
