#Contact {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    /* background-image: url(/img/LA_Bonne_Auberge_3.webp);
    background-size: cover;
    background-attachment: fixed; */
    max-width: 100vw !important;
}

#Info_contact{
    color: white;
    text-shadow: 3px 3px 0px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  #Info_contact div{
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }

#Localisation {
    display: flex;
    flex-direction: column;
}

#Localisation h2 {
    color: white;
    padding-left: 6%;
}

.marginContact {
    background-color: transparent !important;
    margin-left:10px;
    margin-right:10px;
}

.borderSimple{
   border: 10px solid rgb(0, 0, 0);
   border-image: url(/img/border.png)25 round;
  }

.btn{
    background-color: #631E19;
    border-color: black ;
}
.imghorse{
    margin-left: 20px;
}
.bordercolors{
    border-color: rgba(99, 30, 25, 0.422)
}
.policelabel{
    font-weight: 600;
}
main{
    background-image: url(/img/LA_Bonne_Auberge_3.webp);
    
}