@{
    ViewData["Title"] = "Legal";
}

 <div class="container mt-5 mb-5 pb-5 background borderCustom2 ml-5">
        <h1 class="text-center mb-4">Mentions Légales</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget nisi sit amet tortor malesuada bibendum. Curabitur nec augue vel est lacinia facilisis. Nulla facilisi. Suspendisse potenti. Sed fermentum hendrerit odio, vel volutpat eros consectetur eu. Curabitur eleifend odio ut purus rhoncus, ut pharetra arcu ultricies. Duis feugiat risus ac metus efficitur, id hendrerit risus gravida.</p>

        <p>Quisque vitae tortor eu lectus dapibus ultrices a non lacus. Ut ac rhoncus lacus. Integer in sem et leo luctus gravida. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi. Nulla facilisi.</p>

        <p>Proin eu ligula vel arcu pellentesque bibendum. Sed sit amet vestibulum nisi. Proin efficitur, dolor id lacinia luctus, turpis felis consequat ligula, sit amet facilisis est libero quis lectus. Duis dapibus vitae sem nec tristique. Sed bibendum semper turpis, non aliquet nisi euismod eu.</p>

        <p>Donec gravida metus id ex convallis laoreet. Sed malesuada elit non risus luctus tristique. Integer ac hendrerit dolor. Fusce nec accumsan sapien, sit amet tempor est. Proin vitae felis ac velit hendrerit luctus id quis turpis. Fusce at facilisis tortor, in aliquam nisi.</p>
    </div>
