@{
    ViewData["Title"] = "Presentation";
}

<h1>Presentation</h1>

<div class="container text-center p-5">
      <div class="row row-cols-2">
        <div class="col"><img src="~/img/presentation.jpg" alt="" class="img-fluid max-width: 30% height: auto"></div>
        <div class="col">Presentation du restaurant</div>
      </div>
    </div>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/Plat1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption fade">
        <h2>Risotto Double RhumSteaks</h2>
        <h4>Le légendaire risotto aux champignons avec ses tomates cerises</h4><br>
        <p>20€</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/img/Plat2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption fade">
        <h2>Poulet roti de l'Auberge</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/img/Plat3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption fade">
        <h2>Burger de la femme du Patron</h2>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <!-- Ajoutez le script JavaScript Bootstrap pour gérer le survol -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var carouselItems = document.querySelectorAll('.carousel-item');

      carouselItems.forEach(function(item) {
        item.addEventListener('mouseenter', function() {
          var caption = this.querySelector('.carousel-caption');
          caption.classList.add('show');
        });

        item.addEventListener('mouseleave', function() {
          var caption = this.querySelector('.carousel-caption');
          caption.classList.remove('show');
        });
      });
    });
  </script>
</div>


