@{
    Layout = "~/Views/Shared/_Layout_Reservation.cshtml";
}

@{
    ViewData["Title"] = "Reservation";
}

@model LaBonneAuberge.Models.Reservation 

@if (TempData["SuccessMessage"] != null) {
<p>@TempData["SuccessMessage"]</p>
}
@* <form asp-action="Create" method="post">
 <div>
 <label asp-for="Nom"></label>
 <input asp-for="Nom" />
 <span asp-validation-for="Nom" class="text-danger"></span>
 </div>
 <div>
 <label asp-for="Email"></label>
 <textarea asp-for="Email"></textarea>
 </div>
 <button type="submit">Envoyer</button>
</form> *@
<style>
    .marginright{
        margin-right: 5%;
      
    }
    .colorLabel{
        color:black;
    }
</style>

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1 class="reservation marginright ">Make your reservation</h1>
                        <p>
                            Réservez dès maintenant et <br>
                            laissez-nous vous offrir <br>
                            une escapade culinaire inoubliable.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-5  mt-5">
                    <div class="booking-form">
                        <form asp-action="Reservation" method="post">
                            <div class="form-group">
                                <label class="colorLabel" asp-for ="Nom" class="form-label">Nom et Prénom</label>
                                <input asp-for="Nom" class="form-control" type="text" placeholder="Entrez votre nom">
                                <span asp-validation-for="Nom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="colorLabel" asp-for="Email" class="form-label">Email</label>
                                <input asp-for="Email" class="form-control" type="email" placeholder="Entrez votre email">
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label class="colorLabel" asp-for="NumTel" class="form-label">N° Telephone</label>
                                <input asp-for="NumTel" class="form-control" type="tel" placeholder="Entrez votre numéro de téléphone">
                                <span asp-validation-for="NumTel" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="colorLabel" asp-for="Date" class="form-label">Date</label>                                          
                                        <input asp-for="Date" class="form-control" type="date" required>
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="colorLabel" asp-for="Time" class="form-label">Heure</label>
                                        <select asp-for="Time" class="form-control" type="time" min="19:00" max="22:00" step="1800" required>
                                            <option value="11:30">11:30</option>
                                            <option value="12:00">12:00</option>
                                            <option value="12:30">12:30</option>
                                            <option value="13:00">13:00</option>
                                            <option value="13:30">13:30</option>
                                            <option value="14:00">14:00</option>
                                            <option value="19:00">19:00</option>
                                            <option value="19:30">19:30</option>
                                            <option value="20:00">20:00</option>
                                            <option value="20:30">20:30</option>
                                            <option value="21:00">21:00</option>
                                            <option value="21:30">21:30</option>
                                            <option value="22:00">22:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @* <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Rooms</span>
                                        <select class="form-control">
                                            <option>1</option> 
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div> *@
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="colorLabel" asp-for="NombreAdultes" class="form-label">Adultes</label>
                                        <select asp-for="NombreAdultes" class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="colorLabel" asp-for="NombreEnfants" class="form-label">Enfants</label>
                                        <select asp-for="NombreEnfants" class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-12 col-md-pull-5 ">
                                    <div class="form-group">
                                        <label class="colorLabel" asp-for="Message" class="form-label">Message</label>
                                        <textarea asp-for="Message" class="form-control w-100" placeholder="Allergies, etc..."></textarea>
                                        <span class="select-arrow"></span>
                                    </div>
                            </div>
                            <div id="btn-group" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">


                                <input class="colorLabel" asp-for="Anniversaire" type="checkbox" class="btn-check " id="btn-check-2" autocomplete="off">
                                <label class="colorLabel" asp-for="Anniversaire" class="btn btn-primary" for="btn-check-2">  Anniversaire</label>

                                @* <input asp-for="Fumeur" type="checkbox" class="btn-check" id="btncheck2" autocomplete="off"> *@
                                @* <label asp-for="Fumeur" class="btn btn-outline-primary" for="btncheck2">Fumeur</label> *@
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Check availability</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>