@{
    Layout = "~/Views/Shared/_Layout_Reservation.cshtml";
}

@{
    ViewData["Title"] = "Team";
}
@model IEnumerable<LaBonneAuberge.Models.TeamList>

<h2 class="m-5">L'équipe de la Bonne Auberge : </h2>
<div id="carouselExampleAutoplaying" class="carousel slide borderCustom2" data-bs-ride="carousel">
    <div class="carousel-inner  carousel-16-9">
        @foreach (var TeamLists in Model)
        {
            <div class="carousel-item @if (TeamLists == Model.First()) {
                        <text>active</text>
                        }">
                <img src="~/img/@TeamLists.Photo" class="d-block w-100 h-30" alt="...">
                <div class="carousel-caption fade">
                    <h2>@TeamLists.Name</h2>
                    <h3>@TeamLists.Job</h3>
                    <h4>@TeamLists.Description</h4><br>
                </div>
            </div>
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <!-- Ajoutez le script JavaScript Bootstrap pour gérer le survol -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var carouselItems = document.querySelectorAll('.carousel-item');

            carouselItems.forEach(function (item) {
                item.addEventListener('mouseenter', function () {
                    var caption = this.querySelector('.carousel-caption');
                    caption.classList.add('show');
                });

                item.addEventListener('mouseleave', function () {
                    var caption = this.querySelector('.carousel-caption');
                    caption.classList.remove('show');
                });
            });
        });
    </script>


</div>

