@model LaBonneAuberge.Models.Contact

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@{
    ViewData["Title"] = "Details";
}


<div id="form_edition">
    <h1>Détails</h1>
    </ <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
    <div>
        <a class="link" asp-action="Delete" asp-route-id="@Model?.Id">Supprimer</a>
        <a class="link" asp-action="Index">Retour à la liste</a>
    </div>
</div>
