<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaBonneAuberge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/avis.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/presentation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_Layout_HomePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaBonneAuberge.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bevan&family=Rye&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src="https://kit.fontawesome.com/6af99936d7.js" crossorigin="anonymous"></script>

</head>
<style>
    h1 {
        color: black;
    }
    .h2color{
        color:black;
    }
</style>

<body>
    <header class="Header_HomePage">

        <nav class="nav navbar navbar-light">
            <div class="container-fluid justify-content-between">

                <!-- Navbar Toggler (Always visible, aligned to the left) -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#leftNavbar"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span><i class="fa-solid fa-burger" style="color:white;"></i></span>
                </button>
                <!-- Logo (Centered) -->

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="logo"
                        src="/img/La_bonne_aubergelogo_1.webp" alt=""></a>

                <!-- Small Menu with 2 Links (Aligned to the right) -->
                <div class="" id="RightNavbar">
                    <a class="nav-link"><i class="fa-brands fa-instagram" class="logo_header"
                            style="color:white;"></i></a>
                </div>


                <div class="collapse navbar-collapse" id="leftNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#presentation">Présentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="color: antiquewhite;" asp-area="" asp-controller="Home"
                                asp-action="Carte">Carte
                                du moment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Reservation">Réservation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#avis">Avis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" style="color: antiquewhite;" asp-area="" asp-controller="Home"
                                asp-action="FormAvis">Donnez votre avis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Team">Notre
                                équipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="javascript:void(0);" onclick="changeLanguage()">
                                <span id="languageLabel">FR</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="HomePage_Presentation">
            <div>
                <a href="../Home/Reservation" class="btn resa bg-gradient-light btn-lg active" role="button" aria-pressed="true">Réservation</a>
            </div>
            <p>
                Bienvenue à La Bonne Auberge ! <br><br>
                Un restaurant où l'authenticité et la chaleur de l'ouest rencontrent la délicieuse saveur de la
                viande...
            </p>
        </section>
    </header>
    <nav class="navbar sticky-top navbarre2">
        <div class="container-fluid justify-content-between sticky-top bkgrnd">

            <!-- Navbar Toggler (Always visible, aligned to the left) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#leftNavbar"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-burger" style="color:rgb(0, 0, 0);"></i></span>
            </button>
            <!-- Logo (Centered) -->

            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="log2"
                    src="/img/logo.webp" alt=""></a>

            <!-- Small Menu with 2 Links (Aligned to the right) -->
            <div class="" id="RightNavbar">
                <a class="nav-link"><i class="fa-brands fa-instagram" class="logo_header"
                        style="color:rgb(0, 0, 0);"></i></a>
            </div>


            <div class="collapse navbar-collapse" id="leftNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/#presentation">Présentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="color: antiquewhite;" asp-area="" asp-controller="Home"
                            asp-action="Carte">Carte
                            du moment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                            asp-action="Reservation">Réservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/#avis">Avis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="color: antiquewhite;" asp-area="" asp-controller="Home"
                            asp-action="FormAvis">Donnez votre avis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Team">Notre
                            équipe</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="javascript:void(0);" onclick="changeLanguage()">
                            <span id="languageLabel">FR</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main role="main" class="pb-3">
        @RenderBody()

    </main>
    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-around flex-wrap">
            &copy; 2023 - LaBonneAuberge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Crédits</a>
            <a href="">Liens réseaux</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            <a asp-area="" asp-controller="Home" asp-action="Team">Notre équipe</a>
            <a asp-area="" asp-controller="Home" asp-action="Legal">Mentions légales</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-e4dDf2Ac6wiApFFjzDZ5v5By5uqqKj1g9p5o0eLuMOj6u6z5+bPQ5GJ6ccFV9Ur2"
        crossorigin="anonymous"></script>
    <script>
        window.onscroll = function () {
            var nav = document.querySelector('.nav');
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        };
    </script>
    <script>

        $(window).scroll(function () {
            $(".Header_HomePage").css("opacity", 1 - $(window).scrollTop() / 390)
        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    function changeLanguage() {
        var currentLanguage = localStorage.getItem('language');
        if (currentLanguage === 'fr') {
            document.documentElement.lang = 'en';
            localStorage.setItem('language', 'en');
        } else {
            document.documentElement.lang = 'fr';
            localStorage.setItem('language', 'fr');
        }
        var languageLabel = document.getElementById('languageLabel');
        if (localStorage.getItem('language') === 'fr') {
            languageLabel.textContent = 'FR';
        } else {
            languageLabel.textContent = 'EN';
        }
    }
    if (!localStorage.getItem('language')) {
        localStorage.setItem('language', 'fr');
    }
    document.documentElement.lang = localStorage.getItem('language');
    var languageLabel = document.getElementById('languageLabel');
    if (localStorage.getItem('language') === 'fr') {
        languageLabel.textContent = 'FR';
    } else {
        languageLabel.textContent = 'EN';
    }
</script>

</html>
